@import "./base.css";

#page * {
  white-space: nowrap;
}

#page .intro * {
  white-space: normal;
}

#page .intro h3 {
  font-size: large;
}

#page div {
  overflow: visible;
}

#page a {
  color: #224499;
  text-decoration: underline;
  cursor: pointer;
}

#page h1.exercise {
  padding: 1rem;
  border-top: 2px solid rgb(148, 148, 148);
  border-bottom: 2px solid rgb(148, 148, 148);
  font-weight: bold;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

#page video,
#page audio {
  left: 50%;
  width: 600px;
  margin-left: -300px;
}

#page iframe,
#page app-dictation {
  left: 50%;
  width: 800px;
  margin-left: -400px;
}
