<div class="flex flex-col gap-3 lg:w-[500px] p-4" style="max-height: 85vh;">
  <div class="flex flex-col">
      <h1 style="margin: 0;">{{word}}</h1>
      <span *ngIf="phonetics">{{phonetics}}</span>
      <audio *ngIf="audioUrl" class="mt-2" [src]="audioUrl" controls="nodownload"></audio>
  </div>

  <div *ngFor="let lexeme of lexemes">
      <i class="mb-1"><b>{{lexeme.partOfSpeech}}</b></i>

      <ol class="flex flex-col gap-2 list-decimal" style="margin: 0 15px;">
          <li *ngFor="let sense of lexeme.senses">
              <div class="flex flex-col gap-1">
                  <span>{{sense.definition}}</span>
                  <span *ngIf="sense.usageExamples"><u>Example:</u><i> {{sense.usageExamples[0]}}</i></span>
              </div>
          </li>
      </ol>
  </div>

  <a *ngIf="webLink" [href]="webLink" target="_blank" class="self-end"
      style="color:#224499; text-decoration:underline;">
      View on Wiktionary
  </a>

  <div class="flex flex-col gap-2 items-center text-center px-2 py-4" style="border-top: 1px solid gray;">
      <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/">
          <img alt="Creative Commons License" style="border-width:0"
              src="assets/images/cc-sa.png" />
      </a>
      <span>
          This work is licensed under a
          <br />
          <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/"
              style="color: #0000EE; text-decoration: underline;">
              Creative Commons Attribution-ShareAlike 3.0 Unported License
          </a>
      </span>
  </div>
</div>
